{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    },
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "comma-dangle": "warn",
    "no-cond-assign": "error",
    "no-constant-condition": "error",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-extra-boolean-cast": "warn",
    "no-extra-semi": "warn",
    "no-ex-assign": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "warn",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "warn",
    "no-negated-in-lhs": "error",
    "no-obj-calls": "error",
    "no-prototype-builtins": "warn",
    "no-regex-spaces": "warn",
    "no-sparse-arrays": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "accessor-pairs": "warn",
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "complexity": [ "error", 10 ],
    "consistent-return": "warn",
    "curly": "warn",
    "default-case": "warn",
    "dot-location": [ "warn", "property" ],
    "dot-notation": "warn",
    "guard-for-in": "warn",
    "no-alert": "warn",
    "no-caller": "error",
    "no-console": "error",
    "no-case-declarations": "error",
    "no-div-regex": "error",
    "no-empty-function": "warn",
    "no-empty-pattern": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "warn",
    "no-extra-label": "warn",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": [ "warn", { "boolean": false } ],
    "no-implicit-globals": "warn",
    "no-implied-eval": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "warn",
    "no-native-reassign": "error",
    "no-new": "warn",
    "no-new-func": "warn",
    "no-new-wrappers": "warn",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "warn",
    "no-redeclare": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "warn",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-void": "warn",
    "no-with": "error",
    "radix": "warn",
    "yoda": [ "warn", "never", { "exceptRange": true } ],
    "no-catch-shadow": "warn",
    "no-delete-var": "error",
    "no-undef": "error",
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "no-magic-numbers": [ "warn", { "ignoreArrayIndexes": true, "ignore": [ 0, 1 ] } ],
    "eqeqeq": [ "error", "allow-null" ],
    "semi": [ "warn", "never" ],
    "quotes": [ "warn", "single" ],
    "strict": [ "error", "never"],
    "array-bracket-spacing": [ "warn", "always" ],
    "block-spacing": [ "warn", "always" ],
    "brace-style": "error",
    "camelcase": [ "warn", { "properties": "never" } ],
    "comma-spacing": "warn",
    "comma-style": "warn",
    "consistent-this": [ "error", "self" ],
    "eol-last": "warn",
    "func-names": "warn",
    "indent": [ "warn", 2, { "SwitchCase": 1 } ],
    "jsx-quotes": [ "warn", "prefer-double" ],
    "key-spacing": "warn",
    "keyword-spacing": "warn",
    "linebreak-style": "warn",
    "max-depth": [ "warn", 4 ],
    "max-nested-callbacks": [ "warn", 3 ],
    "max-params": [ "warn", 4 ],
    "new-cap": [ "warn", { "capIsNew": false } ],
    "new-parens": "error",
    "no-array-constructor": "warn",
    "no-lonely-if": "warn",
    "no-mixed-operators": "warn",
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": "warn",
    "no-nested-ternary": "warn",
    "no-new-object": "warn",
    "no-plusplus": "warn",
    "no-spaced-func": "error",
    "no-trailing-spaces": "warn",
    "no-unneeded-ternary": "warn",
    "no-whitespace-before-property": "warn",
    "object-curly-spacing": [ "warn", "always" ],
    "object-property-newline": [ "warn", { "allowMultiplePropertiesPerLine": true } ],
    "one-var-declaration-per-line": [ "warn", "initializations" ],
    "operator-assignment": [ "warn", "always" ],
    "operator-linebreak": [ "warn", "after", { "overrides": { "?": "before", ":": "before" } } ],
    "padded-blocks": [ "warn", "never" ],
    "quote-props": [ "warn", "as-needed" ],
    "space-before-blocks": [ "warn", "always" ],
    "space-before-function-paren": [ "warn", { "anonymous": "always", "named": "never" } ],
    "space-in-parens": [ "warn", "never" ],
    "space-infix-ops": [ "warn", { "int32Hint": false } ],
    "space-unary-ops": [ "warn", { "words": true, "nonwords": false } ],
    "spaced-comment": [ "warn", "always" ],

    "arrow-body-style": [ "warn", "as-needed" ],
    "arrow-parens": [ "warn", "as-needed" ],
    "arrow-spacing": "warn",
    "constructor-super": "error",
    "no-this-before-super": "error",
    "generator-star-spacing": [ "warn", { "before": false, "after": true } ],
    "no-class-assign": "error",
    "no-confusing-arrow": [ "error", { "allowParens": true } ],
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "warn",
    "no-new-symbol": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    
    "flowtype/define-flow-type": "warn",
    "flowtype/require-valid-file-annotation": "error",
    "flowtype/space-after-type-colon": [ "warn", "always" ],
    "flowtype/space-before-type-colon": [ "warn", "never" ],
    "flowtype/type-id-match": [ "warn", "^T([A-Z][a-z0-9]+)+$" ],
    "flowtype/use-flow-type": "warn"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
